:root {
  --black: #333;
  --lightgray: #e6e7e5;
  --aliceblue: aliceblue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
  width: 1404px;
  margin: 0 auto;
  position: relative;
  background: var(--lightgray);
}

.header-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

.album-header {
  width: 1320px;
  height: 85.781px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text {
  border-block-color: revert;
  border-color: teal;
  border-radius: 5px;
}
.submit {
  border-block-color: revert;
  border-color: teal;
  border-radius: 5px;
  font-family: 'Inter';
}
.submit:hover {
  border-block-color: revert;
  border-color: teal;
  border-radius: 5px;
  font-family: 'Inter';
  background:lightblue
}
.main-name {
  display: inline-block;
  color: var(--aliceblue);
  font-size: 30px;
  font-family: 'Inter';
}
nav {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: var(--aliceblue);
  font-size: 30px;
  font-family: 'Inter';
  padding-left: 40px;
}

a img {
  width: 50px;
  height: 50px;
  padding: 5px 0 5px 20px;
  border-bottom: var(--black) solid;
}
.album-item {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.album-item h2 {
  padding-left: 50px;
}
.album-item h2 a {
  text-decoration: none;
font-family: 'Inter';
  color: var(--black);
  font-size: 14px;
}
.album-item span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.album-item h4 {
  font-family: 'Inter';
  font-size: 16px;
  padding-left: 20px;
}
.album-item span a {
  padding-left: 20px;
  color: lightblue;
}

.footer {
  width: 100% - 20px;
  border: inset;
}
h3 {
  padding: 0 0 0 40px;
  color:rgba(91,173,58,1) ;
  font-family: 'Inter';
}
