:root {
    --black: #333;
    --lightgray: #e6e7e5;
    --aliceblue: aliceblue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-con {
    width: 1404px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
    background: var(--lightgray);
}

img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 700px;
}
.home {
    position: absolute;
    font-size: 60px;
    z-index: 2;
    top: 350px;
    left: 615px;
    color: var(--aliceblue);
}
.home-header {
    width: 1320px;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
}
.submit {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
    font-family: 'Inter';
}
.submit:hover {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
    font-family: 'Inter';
    background:lightblue
}

.main-name {
    display: inline-block;
    color: var(--aliceblue);
    font-size: 30px;
    font-family: 'Inter';
}

nav {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding-left: 40px;
   
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter';
    color: var(--aliceblue);
}
.home-con {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter';
}
.home-con h2 {
    font-size: 30px;
}
.home-con ul li {
    font-size: 18px;
}
.album-item a img {
    width: 50px;
    height: 50px;
}
.album-item h2 a {
    font-size: 18px;
}
.album-item span a {
    font-size: 17px;
}
h4 {
    font-size: 18px;
}
.footer {
    border: inset;
    margin-top: 1000px;
}

h3 {
    padding: 0 0 0 40px;
    color: rgba(91, 173, 58, 1);
    font-family: 'Inter';
}