:root {
    --black: #333;
    --lightgray: #e6e7e5;
    --aliceblue: aliceblue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-con {
    width: 1404px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: var(--lightgray);
  }
img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 700px;
}
.users-header {
    width: 1320px;
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
}
.submit {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
    font-family: 'Inter';
}
.submit:hover {
    border-block-color: revert;
    border-color: teal;
    border-radius: 5px;
    font-family: 'Inter';
    background:lightblue
}
.user-con {
    position: absolute;
    z-index: 2;
    top: 284px;
    bottom: 350px;
    left: 40px;
    color: var(--aliceblue);
    font-size: 20px;
}
.main-name {
    color: var(--aliceblue);
    font-size: 30px;
    font-family: 'Inter';
}
nav {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    display: inline-block;
    padding-left: 40px;
    font-family: 'Inter';
}
a {
    text-decoration: none;
    color: var(--aliceblue);
    font-size: 30px;
    font-family: 'Inter';
}
.footer {
    width: 100% - 20px;
    border: inset;
}
h3 {
    padding: 0 0 0 40px;
    color:rgba(91,173,58,1) ;
    font-family: 'Inter';
}